version: '3.8'

services:
  # --- PostgreSQL ---
  postgres:
    image: postgres:15-alpine
    container_name: ticketra-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ticketra-network

  # --- MongoDB ---
  mongo:
    image: mongo:6.0
    container_name: ticketra-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - ticketra-network

  # --- Redis ---
  redis:
    image: redis:7-alpine
    container_name: ticketra-redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    networks:
      - ticketra-network

  # --- RabbitMQ ---
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: ticketra-rabbitmq
    ports:
      - "${RABBITMQ_PORT}:5672"
      - "${RABBITMQ_UI_PORT}:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    networks:
      - ticketra-network

  # --- PGAdmin (Postgres Aray端z端) ---
  pgadmin:
    image: dpage/pgadmin4
    container_name: ticketra-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - ticketra-network

  # --- Mongo Express (Mongo Aray端z端) ---
  mongo-express:
    image: mongo-express
    container_name: ticketra-mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      ME_CONFIG_MONGODB_URL: mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/
    depends_on:
      - mongo
    networks:
      - ticketra-network

volumes:
  postgres_data:
  mongo_data:
  redis_data:

networks:
  ticketra-network:
    driver: bridge